/* .video-container {
    max-width: 90%;
    width: 100%;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9; 
    border-radius: 30px;
} */

.video-container {
    width: 80vw; 
    max-width: 90%; 
    margin: 0 auto; 
}

.video-container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    margin-top: 10px;
}



.indicator {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 100;
}

.indicator div {
    width: 6px;
    height: 6px;
    background-color: gray;
    border-radius: 50%;
    transition: background 0.3s;
    cursor: pointer;
}

.indicator div.active {
    background-color: #E6C300;
    width: 10px;
    height: 10px;
}

.nayo-name button{
    border: none;
    background: rgba(0, 0, 0, 0.61);
    padding: 10px 30px;
    color: #fff;
    margin-bottom: 10px;
}



/* ===programs=========== */
.pro-program-main-container {
    display: flex;
    gap: 20px;

}
.pro-program-main-container .program{
    width: 410px;
}


/* Overlay styling */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9); 
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1099;
}

/* Learn and Thrive Section in Overlay */
.overlay-content {
    background: transparent; 
    color: white;
    padding: 20px;
    max-width: 80%;
    overflow-y: auto;
}

/* Close button */
.close-overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: hsla(0, 0%, 0%, 0.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
}



.section .site-footer{
    width: 100%;
    align-items: flex-start;
    margin-top: auto; 
}







/* @media (max-width: 1400px) {
    .section .video-container{
        width: 90%;
    }
} */
@media (max-width: 1178px) {
/* .section{
    margin-top: -40px;
} */

}
@media (max-width: 989px) {
    .overlay-container {
        height: auto; /* Allow it to expand */
        min-height: 100vh; /* Ensures it covers full screen if needed */
        max-height: none; /* Prevents height restriction */
        overflow-y: auto; /* Enables scrolling if content is too long */
        display: flex;
        align-items: center; /* Centers the content */
        justify-content: center;
    }
    .overlay-content {
        padding: 20px;
        width: 100%;
        max-width: 93%;
        overflow-y: auto; /* Ensures scrolling within the content */
        max-height: 90vh;
    }

}
@media (max-width: 925px) {

    .pro-program-main-container {
        display: flex;
        /* flex-direction: column; */
        gap: 20px;
        margin-left: 35px;
        margin-right: 35px;
    
    }
    .pro-program-main-container .program{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .pro-program-main-container {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 20px;
        margin-left: 15px;
        margin-right: 15px;
    
    }
    .indicator {
        display: none;
    }
    html, body {
      overflow: auto; 
    }
    /* .section {
        min-height: auto; 
    } */
    .video-container {
        width: 100vw; 
        max-width: 95%; 
        margin: 0 auto; 
    }
    
    .video-container iframe {
        width: 100%;
        /* height: auto;
        aspect-ratio: 16 / 9; */
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .overlay-content {
        width: 100%;
        max-width: 100%;
    }
}


